.App {
  text-align: center;
}

.left {
	padding:5px;
  float:left;
  width:30%;
}

table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
	width: 30%;
}

table td, table th {
	border: 1px solid #ddd;
  padding: 8px;
}

#config td, #config th {
	border: 0px solid #ddd;
  padding: 8px;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
  .left{
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
	}
	#box-blue {
		visibility: hidden;
	}
}
/* #red {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 20%;
}

#red td, #tb th {
  border: 1px solid #ddd;
  padding: 8px;
} */

/* #tb tr:nth-child(even){background-color: #f2f2f2;} */

/* #tb tr:hover {background-color: #ddd;} */

/* #tb th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
} */